<% include ../layout/header.ejs %>

    <div id="main" role="main" class="container">
        <article class="page">

            <h1>About</h1>

            <div class="entry">
                <h3 id="more-information">More Information</h3>

                <p>Tôi là Huy, một sinh viên của HaUI, trong thời gian rảnh rỗi, tôi viết blog và để chia sẻ
                    những thứ trong cuộc sống với mọi người, các bạn có thể nhắn tin cho tôi trên facebook
                    https://www.facebook.com/tran.huy.27/
                </p>


            </div>
        </article>

    </div>

<% include ../layout/footer.ejs %>